tr{color:#FF56ED;}
h1{color:yellow}
body{ background-image: conic-gradient(purple, black, purple, black,purple, black, purple, black,purple, black, purple, black, purple, black,purple, black, purple, black, purple, black,purple, black, purple, black, purple, black,purple, black, purple, black,purple, black, purple, black,purple, black, purple, black,purple, black, purple, black, purple, black,purple, black, purple, black, purple, black,purple, black, purple, black, purple, black,purple, black, purple, black);
}
table{background-image: radial-gradient(white, black, white,black,white,black,white, black, white,black,white,black,white, black);
}
